doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- ul
    //-   li Zohaib
    //-   li.
    //-     Zohaib Ahmad is React Native Engineer
    //- - var condition = true
    //- - var myArray = [1,2,3]
    //- input(type="text").className#anyId
    //- if condition
    //-   p It's true

    //- each value in myArray
    //-   p= value
    block content
